<!DOCTYPE html>
<html ng-app='FoundItemsDirectiveApp'>
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>


</head>
<body>


<div class="container" id="list" ng-controller='NarrowItDownController as list'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="row" class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="list.term">
        <button class="btn btn-primary" ng-click="list.getMatchedMenuItems(list.term);">Narrow It Down For Me!</button>
    </div>


    <found-items found-items="list.found"
                 on-remove="list.removeItem(index)"></found-items>

    <div class="error" ng-if="list.searched && list.found.length == 0">Nothing found</div>

</div>

</body>
</html>
